#testimonials-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  text-align: center;
}

#testimonials-header {
  text-align: center;
}
@media screen and (max-width: 768px) {
  #testimonials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
